@use "../abstracts" as *;
@use "../base" as *;

.popup {
	position: absolute;
	z-index: 9999;

	top: 50%;
	left: 50%;
	max-width: 80%;
	width: 700px;
	transform: translate(-50%, -50%);
	background-color: var(--primary-1);
	border-radius: 0.4em;

	&.hide {
		display: none;
	}
}



